/* Page-specific styling */
#tool-title {
    position: absolute;
    right: 12px;
    top: 14px;
}

.dataBrowserPopup {
  width: 500px;
    height: 500px;
    position: absolute;
    top: 36px;
    background: whitesmoke;
    z-index: 99;
    left: 36px;
  display: none;
}

.dataBrowserPopup.open {
  display: block;
}